/* Slider */
.carousel-inner, .carousel-item {
  height: 100vh; }

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.first-h3 h3 {
  color: #edf1f5; }

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card-body {
  align-items: center;
  display: flex;
  flex-flow: column; }

.three-tiles img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

/* three-sisters */
.three-sisters .row {
  height: 100%;
  background-color: #eff2f5; }

.tootsy {
  background-color: #c7d4d6; }

.tootsy ul {
  color: #0d73d1;
  padding-left: 10px;
  margin-bottom: 0px; }
